<% include ../partials/header %>
<% console.log(campground) %>
        <div class="row">
            <h1 style="text-align: center;">Edit <%= campground.name %></h1>
            <div style="width: 30%; margin: 30px auto;">
                <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[name]" placeholder="Camp Name" value="<%= campground.name %>">
                    </div>
                    <div class="form-group">
                            <input class="form-control" type="number" name="campground[price]" placeholder="Price per night" value="<%= campground.price %>" min="0.00" step="0.01">
                        </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[image]" placeholder="Camp Image URL" value="<%= campground.image %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[desc]" placeholder="Camp Description" value="<%= campground.desc %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </form>

                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    <% include ../partials/footer %>